@charset "utf-8";
@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #2d2c2c url('../images/px.png');
  text-align: center;
  font: 1em 'Open Sans', sans-serif;
}

h1 {
  color: #0DE5A8;
  font: 600 3.8em 'Satisfy', 'cursive';
  margin: 0;
}

.profile-wrapper {
  height: 47rem;
  padding: 15px;

  @media screen and (max-width: 480px) {
    height: 43rem;
  }
}

.profile {
  height: 37rem;
  position: relative;
  top: 70%;
  transform: translateY(-70%);
}

.profile-pic {
  border-radius: 50%;
  margin: 1.4rem;
  width: 19.2rem;

  @media screen and (max-width: 480px) {
    width: 200px;
  }
}

.social {
  color: #0DE5A8;
  font-size: 2.6rem;
}

.social-icon {
  color: #0DE5A8;
  margin: 0 5px;

  &:hover {
    color: darken(#0DE5A8, 10%);
  }
}

.text {
  color: #FFF;
  font-size: 1.2rem;
  margin: 5px 0;
}

.bio {
  margin: 1.4rem;
}

.inline-link {
  color: #FFF;
  text-decoration: none;

  &:hover {
    color: #0DE5A8;
  }
}
